.container {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px 0;
}

@media screen and (min-width: 960px) {
    .container {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        grid-template-columns: auto auto auto;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

    width: 300px;
    border-radius: 20px;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.avatar{
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: white;
}

.name {
    margin-bottom: 10px;   
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    height: 65px;
}

.tag {
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.location{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 80px;

    color: white;
    border-radius: 7px;
    background-color: brown;
}